html {
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
}

.labelName {
	margin: 2px 2px 10px 2px;
}

.largeHeading {
	margin: 0;
	font-size: 50px;
}

.pccg {
	float:left;
	width:90%;
	height:auto;
	text-align: left;
	border-style: solid;
	border-width: thin;
	margin-right: 5px;
	margin-left: 5px;
	padding:5%;
}

.multi-text{
	float:left;
	width:90%;
	height:340px;
	text-align: left;
	border-style: solid;
	border-width: thin;
	margin: 5px;
	padding:5%;
	position: relative;
}

.right {
	text-align:right;
}
.left {
	text-align:left;
}

.bottom {
	position: absolute;
	bottom: 15px;
	right: 10px;
}
form {
	float: left;
	text-align: left;
}
input {
	float: right;
}
button {
	border-radius: 5px;
	width: 90px;
	height: 30px;
	font-weight:bold;
	margin-left: 10px;
	margin-right: 10px;
	transition: .5s;
}

button:hover {
	background-color: darkgray;
}

select {
	width: 10ex;
	float: right;
}

.full-width {
	min-width: 100%;
	display: block;
}

.third-width {
	margin: 5px;
	padding: 5px;
	border-style: solid;
	min-width: 100px;
	max-width: 33%;
	display: inline-block;
	border-width:thin;
	border-radius: 5px;
}
.full-box {
	margin: 5px;
	padding: 5px;
	border-style: solid;
	min-width: 300px;
	max-width: 100%;
	display: inline-block;
	border-width:thin;
	border-radius: 5px;
}

.smallButton {
	border-radius: 3px;
	width: 20px;
	height: 20px;
	font-weight: 100;
	padding: 0;
	transition: .5s;
}

.box {
	font-size: 10px;
	border-style: solid;
	padding:10px;
	border-width: medium;
	width:200px;
	height: 200px;
	float: left;
	display: none;
}
.tall-box {
	font-size: 10px;
	border-style: solid;
	padding:10px;
	border-width: medium;
	width:99px;
	height: 199px;
	float: left;
	display: none;
}

@media print {
	.full-width {
		display: none;
	}
	
	.third-width {
		display: none;
		
	}
	.heading {
		display: none;
	}
	
	p {
		display: none;
	}
	
	select {
		display: none;
	}
	
	button {
		
		display: none;
	}
	
	.box {
		display: block;
		font-size: 18px;
		border-style: solid;
		padding:50px;
		border-width: medium;
		width:570px;
		height: 300px;
		float: none;
		page-break-after: always;
	}
	.tall-box {
		display: block;
		font-size: 18px;
		border-style: solid;
		padding:25px;
		border-width: medium;
		height: 510px;
		width:300px;
		float: none;
		page-break-after: always;
	}
}
